@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: blue;
}
.container{
    background-color: white;
    border-radius: 5px;
    padding: 30px 15px 30px 30px;
    text-align:center;
    display: flex;
}

.setting{
    padding-right: 15px;
    min-width: 380px;
}
.input-wrap{
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
}
.input-1x{
    width: 100%;
}
.input-2x{
    width: 50%;
}
label{
    width: 30%;
}
.display{
    width: 100%;
}
textarea, select, input, button{
    border: none;
    resize: none;
    font-family:  Roboto;
    font-size: 1rem;
}
select, textarea{
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
}
input[type='range']
{
    accent-color: #e91e63;
}
button{
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgb(233 30, 99);
}
.btn-download{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}